p {
    text-indent: 50px;
}

img {
    margin: 15px;
}

.img-1 {
    width: 620px;
}

.img-2 {
    width: 540px;
}

.img-3 {
    width: 700px;
}

.img-4 {
    width: 420px;
}

.img-5 {
    width: 500px;
}

.image-right {
    float: right;
}

.image-left {
    float: left;
}
