p {
    text-indent: 50px;
}

.img-1 {
    width: 47.5%;
    min-width: 250px;
}

.img-2 {
    width: 41.5%;
    min-width: 220px;
}

.img-3 {
    width: 53.8%;
    min-width: 285px;
}

.img-4 {
    width: 32.3%;
    min-width: 265px;
}

.img-5 {
    width: 38.5%;
    min-width: 205px;
}


/* Media */


@media screen and (max-width: 540px) {
    .img-1, .img-2, .img-3, .img-4, .img-5 {
        width: 100%;
        min-width: 0px;
        margin: 20px 0 20px 0;
    }
}
