p {
    text-indent: 50px;
}

.img-1 {
    width: 43%;
    min-width: 370px;
}


/* Media */


@media screen and (max-width: 635px) {
    .img-1 {
        width: 100%;
        min-width: 0px;
        margin: 20px 0 20px 0;
    }
}