.introduction {
    margin-bottom: 40px;
}

.img-1 {
    /* width: 485px; */
    width: 37.3%;
    min-width: 320px;
}

.test-link {
    color: #343434;
    text-decoration: underline;
}


/* Media */


@media screen and (max-width: 570px) {
    .img-1 {
        width: 100%;
        min-width: 0px;
        margin: 20px 0 20px 0;
    }
}
