@font-face {
    font-family: "Zen Antique";
    src: url(../fonts/ZenAntique-Regular.ttf);
}

@font-face {
    font-family: "Marck Script";
    src: url(../fonts/MarckScript-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    color: #343434;
}

body {
    height: 100vh;
    width: 100%;

    background-image: url(../img/background.jpg);
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: 110%;
    background-attachment: fixed;
}

.container {
    /* height: 3000px; */
    min-height: 100vh;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 0 15.6%;
    background-color: rgba(255, 253, 243, .9);
    z-index: 1;
}

#sakura {
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: fixed;
}

img {
    margin: 15px;
    /* min-width: 320px; */
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo > img {
    width: 135px;
    min-width: 70px;
    margin: 0;
}

#logo {
    display: flex;
    align-items: center;

    font-family: 'Zen Antique', serif;
    font-size: 60px;
    width: 30%;
}

header > nav {
    width: 70%;
}

header > nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > nav > ul > li {
    font-family: 'Marck Script', cursive;
    font-size: 40px;
    margin: 0 5%;

    font-weight: 500;
}

a {
    text-decoration: none;
}

.burger-menu-btn {
    display: none;

    width: 40px;
    height: 40px;
}

.burger-menu-btn > div {
    width: 40px;
    height: 7px;
    position: absolute;
    /* margin-top: 9.5px; */

    background-color: #343434;

    transition: all .5s;
}

.burger-menu-btn div:first-child {
    top: 26px;
}

.burger-menu-btn div:nth-child(2) {
    top: 42.5px;
}

.burger-menu-btn div:last-child {
    top: 59px;
}

.burger-menu-btn.opened-menu div:nth-child(2) {
    display: none;
}

.burger-menu-btn.opened-menu div:first-child {
    top: 42.5px;
    transform: rotate(-45deg);
}

.burger-menu-btn.opened-menu div:last-child {
    top: 42.5px;
    transform: rotate(45deg);
}

/* Main */

main {
    margin-top: 100px;
    padding-bottom: 30px;
    
    font-family: 'Marck Script', cursive;
    font-size: 36px;
}

.introduction {
    margin-bottom: 40px;
}

.end {
    margin-top: 40px;
}

.image-right {
    float: right;
}

.image-left {
    float: left;
}


/* Preloader */

.loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 5;
    background-color: white;
    display: block;

    transition: all .3s;
}

.loader > img {
    margin-left: calc((100vw - 489px) / 2);
    margin-top: calc((100vh - 289px) / 2);

    transition: all .3s;
}

/* Media */


@media screen and (max-width: 1600px) {
    #logo > img {
        width: 100px;
    }

    #logo {
        font-size: 48px;
    }

    header > nav > ul > li {

        font-size: 36px;
        margin: 0 2.5%;
    }
}

@media screen and (max-width: 1500px) {
    main {
        font-size: 28px;
    }
}

@media screen and (max-width: 1600px) and (min-height: 700px) {
    body {
        background-size: 120%;
    }
}

@media screen and (max-width: 1480px) and (min-height: 700px) {
    body {
        background-size: 130%;
    }
}

@media screen and (max-width: 1365px) and (min-height: 600px) {
    body {
        background-size: 140%;
    }
}

@media screen and (max-width: 1265px) and (min-height: 700px) {
    body {
        background-size: 150%;
    }
}

@media screen and (max-width: 1150px) {
    .container {
        margin: 0;
    }

    #sakura {
        display: none;
    }

    body {
        background-size: cover !important;
    }
}

@media screen and (max-width: 800px) {
    .burger-menu-btn {
        display: block;
    }

    header > nav {
        display: none;

        position: absolute;
        top: 80px;
        right: 0;

        width: 100%;
    }

    header > nav > ul {
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        right: 0;

        padding: 20px;
        width: 35%;
        min-width: 140px;
        border-radius: 0 0 0 10px;

        background-color: rgba(255, 253, 243, .9);
        /* background-color: rgb(255, 253, 243); */
    }

    #logo {
        width: 80%;
    }
}

@media screen and (max-width: 750px) {
    header > nav > ul > li {
        font-size: 28px;
    }

    main {
        font-size: 24px;
    }
}

@media screen and (max-width: 450px) {
    main {
        margin-top: 40px;
    }
    
}

@media screen and (max-width: 300px) {
    #logo > img {
        width: 70px;
    }
    
    #logo {
        font-size: 38px;
    }

    header > nav > ul > li {
        font-size: 24px;
    }

    main {
        font-size: 18px;
    }

    .burger-menu-btn {
        width: 25px;
        height: 25px;
    }
    
    .burger-menu-btn > div {
        width: 25px;
        height: 5px;
    }
    
    .burger-menu-btn div:first-child {
        top: 26px;
    }
    
    .burger-menu-btn div:nth-child(2) {
        top: 35.5px;
    }
    
    .burger-menu-btn div:last-child {
        top: 46px;
    }
    
    .burger-menu-btn.opened-menu div:nth-child(2) {
        display: none;
    }
    
    .burger-menu-btn.opened-menu div:first-child {
        top: 35.5px;
        transform: rotate(-45deg);
    }
    
    .burger-menu-btn.opened-menu div:last-child {
        top: 35.5px;
        transform: rotate(45deg);
    }
}

